[submodule "vendor/rubyfmt"]
	path = vendor/rubyfmt
	url = https://github.com/AkaraChen/rubyfmt.git
	branch = main
[submodule "formatters/clang/clang-format"]
	path = formatters/clang/clang-format
	url = https://github.com/AkaraChen/clang-format.git
[submodule "action"]
	path = action
	url = https://github.com/akarachen/setup-fama.git
